<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css\bootstrap.css">
	<link rel="stylesheet" type="text/css" href="final.css">
	
</head>
<body background="https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Plain-Background-Screen-Download-PIC-WPE001788.jpg">


<h1 align="center">HAPPY JOURNEY</h1>
<b><p align="center">-The best way to find your way</p></b>
<br>
<br>
<br>
	<b><h3 align="center">Your ticket has been booked </h3></b>
	<b><h3 align="center">Thank you for choosing Happy Journey</h3></b>
	<b><h3 align="center">May you have a safe and pleasant journey</h3></b>
<br>
<br>
</body>
</html>