.r1{
	height: 130px;
	background-color:white; 
	opacity:0.8;
	font-size: 20px;
	font-family: garmond;
	color: black;
}

.r6{
	height: 250px;
	background-color: white;
	margin-left: 20px; 
}

body{
	background-color: indigo;
}